@import url("/src/styles/main.css");

.nav {
	display: flex;
	align-items: center;
	box-shadow: var(--dark-box-shadow);
}
.nav-links {
	display: flex;
	align-items: center;
}

.hover {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hover:hover {
	background-color: var(--light-bg-color);
}
.menu-btn {
	margin: 5px;
}

.main {
	display: grid;
	grid-template-columns: 18% 82%;
}

.sidebar {
	height: 100vh;
	left: 0;
	top: 0;
	position: sticky;
	gap: 25px;
	display: flex;
	flex-direction: column;
	padding: 1rem 2rem 0 2rem;
	box-shadow: var(--dark-box-shadow);
}

.productlist {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
	margin: 20px;
	justify-content: space-between;
}
.filter-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.quantity-slider {
	display: flex;
	flex-direction: column;
}

.sidebar input {
	width: auto;
	margin: 0;
}

.slider-range {
	display: flex;
	justify-content: space-between;
}

.list {
	list-style-type: none;
}

.aside-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 12px;
}

.sidebar label {
	color: var(--grey-text-color);
	margin: 5px;
}
.sidebar li {
	margin: 5px;
	margin-left: 0;
}
.list-container input {
	margin: 0 3px 0 3px;
}

/* card css  */
.product-card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: auto;
	width: 18rem;
	box-shadow: var(--light-box-shadow);
	border-radius: 4px;
}

.card-header {
	position: relative;
	display: flex;
	justify-content: center;
}
.card-highlight {
	position: absolute;
	left: 0rem;
	top: 0rem;
	background-color: var(--light-bg-color);
	padding: 3px;
	border-radius: 3px;
	color: var(--light-text-color);
}
.card-icon {
	position: absolute;
	bottom: 1rem;
	right: 0.5rem;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	margin: 15px 15px 5px 15px;
	margin-top: auto;
}
.card-title {
	margin-bottom: 15px;
}
.card-title p {
	font-size: 0.8rem;
	color: var(--grey-text-color);
}

.card-text {
	margin-bottom: 15px;
}
.card-cta {
	display: flex;
	flex-direction: column;
}
.card-cta button {
	margin: 10px 0px;
}

.card-hover:hover {
	background-color: var(--light-bg-color);
}
/* card css  */

@media only screen and (max-width: 780px) {
	.main {
		grid-template-columns: 1fr;
	}
	.productlist {
		justify-content: center;
	}
	.sidebar {
		position: relative;
		height: auto;
		padding-bottom: 15px;
		box-shadow: var(--light-box-shadow);
	}
}
