@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

:root {
	--main-bg-color: rgb(252, 252, 252);
	--primary-color: rgb(46, 46, 46);
	--light-green-color: rgb(57, 197, 57);
	--light-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
		rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	--dark-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	--light-text-color: white;
	--dark-text-color: black;
	--grey-text-color: rgb(92, 92, 92);
	--outlined-btn-border: 1px solid rgb(46, 46, 46);
	--light-border: 2px solid rgb(172, 172, 172);
	--info-card-bg-color: rgb(236, 236, 236);
	--info-card-light-bg-color: rgb(242, 242, 242);
	--light-bg-color: rgb(124, 124, 124);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--main-bg-color);
	font-family: "Cabin", sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--light-text-color);
}

.btn {
	border: none;
	padding: 7px 16px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 500;
	margin: 10px 13px 10px 13px;
	transition: all 0.1s;
}

.btn-primary-outlined {
	background-color: transparent;
	border: var(--outlined-btn-border);
	color: var(--dark-text-color);
}
